.Container {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Img {
    width: 500px;
}

.Text {
    font-size: 45px;
    font-weight: 900;
    text-align: center;
    color: #283E6A
}

@media screen and (max-width: 426px) {
    .Img {
        width: 300px!important;
    }
}

@media screen and (max-width: 500px) {
    .Img {
        width: 450px;
    }
}